<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xianzhan.id.mapper.UserIdGenMapper">

    <resultMap id="UserIdGenMap" type="xianzhan.id.pojo.entity.UserIdGen">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="start_id" property="startId" jdbcType="BIGINT"/>
        <result column="end_id" property="endId" jdbcType="BIGINT"/>
        <result column="used" property="used" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO user_id_gen(start_id, end_id, used)
            VALUE (#{startId}, #{endId}, #{used})
    </insert>

    <delete id="deleteByStartId">
        DELETE
        FROM user_id_gen
        WHERE start_id = #{startId}
    </delete>

    <select id="selectBy" resultMap="UserIdGenMap">
        SELECT id, start_id, end_id, used FROM user_id_gen
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="startId != null">
                AND start_id = #{startId}
            </if>
            <if test="endId != null">
                AND end_id = #{endId}
            </if>
            <if test="used != null">
                AND used = #{used}
            </if>
        </where>
    </select>
    <select id="selectToCache" resultMap="UserIdGenMap">
        SELECT id, start_id, end_id, used
        FROM user_id_gen
        WHERE used != -1
        LIMIT #{size}
    </select>

    <update id="updateByStartId">
        UPDATE user_id_gen
        <set>
            <if test="used != null">
                used = #{used},
            </if>
        </set>
        WHERE start_id = #{startId}
    </update>


</mapper>